.twelve-hours {
    width: 100%;
    margin: 0 auto;
}

.twelve-hours-container {
    
    border-radius: 3px;
    margin: 1rem auto;
    padding: 1rem;

    background-color: #f2b341;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.twelve-hours-accordion-controls {
    width: 95%;
}

.twelve-hours-accordion-controls i:hover{
    cursor: pointer;
}

.accordion-text {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: end;

    text-align: center;
    padding: 1rem;
}

.twelve-hours-accordion-controls hr {
    margin: 1rem auto;
}

.twelve-hours-hour{
    margin: 0 auto;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: 0.5rem;
    align-items: center;
}

.hour-weather-info {
    display: grid;
    grid-template-rows: repeat(3 1fr);
    width: 75%;
    margin: 0 auto;
}

.hour-weather-info p {
    font-weight: 600;
    text-align: right;
}

.five-days-day img {
    width: 4rem;
}