.register-button {
    background-color: #f2b341;
    padding: 0.5rem 1rem 0.5rem 1rem;

    border-style: none;
    border-radius: 3px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

    font-size: 1.2rem;
}

.register-button:hover {
    cursor: pointer;
    background-color: rgba(242, 179, 65, 0.80);
    transform: scale(1.05);
    transition: 0.15s;
    font-weight: 500;
}