*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-snap-type: y proximity;
}

h1,h2,h3,h4,hr,p,a, label {
	color: #313d49;
}

h1,h2,h3 {
	font-family: 'Kosugi Maru', sans-serif;
}

p, button, input {
	font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
}

.app {
	position: absolute;
	z-index: -1;
}

input:focus {
    outline: none;
}