.search-bar {
    width: 60%;
    height: 2rem;
    display: grid;
    grid-template-columns: 85% 15%;

    border-style: solid;
    border-color: #313d49;
    border-width: 2px;
    border-radius: 3px;

    margin: 1.5rem
}

.search-bar input {
    border-style: none;
    border-radius: 3px;
    text-align: right;
    padding-right: 0.5rem;

    font-size: 1.1rem;
}

::placeholder {
    text-align: right;
}

.search-bar button {
    border-style: none none none solid;
    background-color: #f2b341;
}

.search-bar button:hover {
    cursor: pointer;
    background-color: rgba(242, 179, 65, 0.80);
}

.search-results-container {
    background-color:#f1debe;
    width: 100%;
}

.to-search {
    background-color: #f2b341;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem auto;

    border-style: none;
    border-radius: 3px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

    font-size: 1.2rem;
}