.crag {
    background-color:#f1debe;
    height: 100%;
    
    padding-top: 10rem;
}

.crag hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3.5px solid;
    border-radius: 3px;
    margin-bottom: 1rem;
    padding: 0;
    width: 50%;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 3rem;
    margin: 2rem auto;
    padding: 1rem;
}

.weather-container h2 {
    margin: 0 auto 1rem auto;
    font-size: 2.5rem;
    text-align: center;
}

.info-container {
    text-align: center;
}