.reset-password {
    background-color:#f1debe;
    height: 95vh;
    padding-top: 8rem;
}

.reset-password h2 {
    text-align: center;
    padding: 1rem;
}

.new-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}