.login-container {
    background-color: #f2b341; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 50vh;
    width: 22rem;

    border-radius: 5px;

    z-index: 1;
    }

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.login-content h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.login-content p {
    width: 75%;
    margin: 0 auto;

    font-size: 0.9rem;
}

.login-form input {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;

    border-style: none;
    border-radius: 3px;
    font-size: 1.1rem;
}

.login-form button {
    background-color: #f1debe;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 3rem 1rem 3rem;

    border-style: none;
    border-radius: 3px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);

    font-size: 1.2rem;
}

.login-form button:hover {
    cursor: pointer;
    background-color: rgba(241, 222, 190, 0.80);
    transform: scale(1.05);
    transition: 0.15s;
    font-weight: 500;
}

.login-x {
    position: absolute;
    top: 4%;
    right: 6%;

    color: #313d49;
}

.login-error {
    padding: 0.6rem;
    background-color: #d36067;
    border: 3px solid #e7195a;
    color: #313d49;
    border-radius: 3px;
    margin: 1.1rem 0;
}

.login-content span {
    color: #d36067;
    font-weight: 600;
}

.login-content span:hover {
    cursor: pointer;
}